body { 
    font-family: sans-serif; 
    margin: 20px; 
    
}

.image-placement {
    background-image: url('../images/swimming.png');
    background-size: cover;
    background-attachment: fixed;
}

.timetable-header { 
    height: 60px;
    background-image: url('../images/banner2.jpg');
    background-size: fill;
    color: black;
    
}   

.timetable { 
    width: 100%; 
    border-collapse: collapse;    
    font-weight: 700;
}

.timetable th, .timetable td { 
    border: 1px solid #470de4; 
    padding: 10px; 
    text-align: center; 
}

.timetable th { 
    background-color: #f2f2f2; 
}

.lunch-row {
  background-color: #e0e0e0;
  color: #666;
}

.lunch-row button {
  display: none;
}

.lunch-row td {
  pointer-events: none;
}

.message-container { 
    margin-bottom: 20px; 
}

.success-message { 
    color: green; 
}

.error-message { 
    color: red; 
}

.day-header { 
    font-weight: bold; 
    background-color: #f9f9f9; 
}

.day-page {
    margin-bottom: 40px;
}

.navigation button {
    padding: 10px 20px;
    margin: 5px;
    font-size: 1rem;
    cursor: pointer;
}

/* Modal styles */
.modal {
    display: none; 
    position: fixed; 
    z-index: 1000; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto;
    background-color: rgba(0,0,0,0.4); 
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 300px; 
    border-radius: 5px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover, .close:focus {
    color: black;
    text-decoration: none;
}

.navigation {
    text-align: center;
    margin-top: 20px;
    align-items: center;
}

.activity-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
}

.activity-card {
  border: 2px solid #ccc;
  border-radius: 12px;
  overflow: hidden;
  text-align: center;
  transition: 0.3s;
}

.activity-card img, .activity-card .placeholder {
  width: 100%;
  height: 150px;
  object-fit: cover;
  display: block;
}

.activity-card:hover {
  border-color: #007bff;
  transform: scale(1.05);
}

.placeholder {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f0f0f0;
  font-weight: bold;
}

.fully-booked {
    color: red;
    font-weight: bold;
}

.fully-booked-item {
    opacity: 0.7;
    background-color: #f2f2f2;
}


@media screen and (max-width: 600px) {
    .activity-grid {
        grid-template-columns:subgrid;
    }
    .timetable th, .timetable td {
        font-size: 0.9rem;
        grid-template-columns:repeat(auto-fit, minmax(100px, 1fr));
    }
}