{% extends "base.html" %}
{% load static %}
{% block title %}Make a Booking{% endblock %}

{% block content %}
  <h2>Make a Booking</h2>

  {% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
  {% endif %}

  {% if session %}
    <h3>Activity: {{ session.activity.activity_name }}</h3>
    {% if session.activity.activity_image %}
      <img src="{{ session.activity.activity_image.url }}" alt="{{ session.activity.activity_name }}" style="max-width:300px; border:2px solid #ccc; border-radius:8px;">
    {% endif %}
    <p>Day: {{ session.session_day }} at {{ session.start_time }}</p>
    
    {% if session.is_full %}
      <p>Day: {{ session.get_session_day_display }} at {{ session.start_time }}</p>
    {% else %}
      <p style="color: green; font-weight: bold;">Spaces Remaining: {{ session.available_places }}</p>
      <p>{{ session.activity.description }}</p>

      <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Submit Booking</button>
      </form>
    {% endif %}
  {% else %}
    <p>No session selected. Please go back and choose a session to book.</p>
  {% endif %}
{% endblock %}
{% block extra_js %}
<script src="{% static 'js/booking_modal.js' %}" crossorigin="use-credentials"></script>
{% endblock %}